.container {
    display: flex;
    margin-top: 6px;
    flex-direction: column;
    font-family: Inter, sans-serif;
    width: 100vw;
    height: 100vh - 60px;
  }
  
  .header {
    background-color: #fff8f8;
    display: flex;
    flex-direction: row;
    align-items: start;
    padding: 20px 80px 20px 32px;
  }

  .conversationAvatar {
    aspect-ratio: 0.93;
    object-fit: contain;
    width: 50px;
    border-radius: 56px;
    align-self: start;
    margin-right: 15px;
  }
  
  .recipientName {
    color: #484848;
    font-size: 20px;
    font-weight: 600;
    
  }
  
  .status {
    color: #000;
    font-size: 14px;
    margin-top: 5px;
    font-weight: 400;
  }

  .chatContent {
    background-color: aliceblue;
    height: 100%;
    width: 100%;
  }

  #startChatting{
    font: 600 25px 'Inter', sans-serif;
    margin-left: 10px;
  }

  .chatContentStart {
    background-color: aliceblue;
    height: 100%;
    width: 100%;
    padding: 19%;
  }
  
  .messageInput {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: #484848;
    font-weight: 400;
    justify-content: center;
    gap: 10px;
    /*padding: 16px 19px;*/
  }

  .textInput{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: #484848;
    font-weight: 300;
    border: 1px solid rgb(176, 176, 176);
    border-radius: 20px;
    /*justify-content: center;*/
    padding: 16px 19px;
    width: 100%;
    height: 10%;

  }
  
  .inputWrapper {
    border-radius: 15px;
    background-color: #fff8f8;
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: start;
    gap: 20px;
    padding: 11px;
  }
  
  .inputSection {
    display: flex;
    gap: 38px;
  }
  
  .inputIcon {
    aspect-ratio: 1.09;
    object-fit: contain;
    width: 37px;
  }
  
  .placeholder {
    flex-basis: auto;
    /*flex-grow: 1;*/
    margin: auto 0;
  }

  
  
  .sendIcon {
    margin-left: 30px;
    margin-top: 10px;
    /*margin: 15px 50px ;*/
    background-color: rgba(3, 146, 255, 0.618);
    border: 1px solid rgb(176, 176, 176);
    color: #fff;
    border-radius: 20px;
    height: 35px;
    width: 80px;

    
    
  }
  
  @media (max-width: 991px) {
    .container {
      max-width: 100%;
    }
    
    .header {
      max-width: 100%;
      padding: 0 20px;
    }
    
    .chatContent {
      max-width: 100%;
    }
    
    .messageInput {
      max-width: 100%;
      margin-right: 3px;
      padding-right: 20px;
    }
    
    .inputWrapper {
      max-width: 100%;
      padding-right: 20px;
    }
  }