.header {
    top:0px;
    background-color: rgb(102, 216, 177);
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 14px 60px 14px 19px;
    color: #fff;
  }
  
  .logoSection {
    display: flex;
    gap: 40px;
    align-items: center;
    font: 700 28px Roboto Mono, sans-serif;
  }
  
  .logoIcon {
    width: 30px;
    border-radius: 10px;
    aspect-ratio: 1.07;
    object-fit: contain;
  }
  
  .brandWrapper {
    display: flex;
    gap: 12px;
    align-items: center;
  }
  
  .brandIcon {
    width: 35px;
    aspect-ratio: 1;
    object-fit: contain;
  }
  
  .userProfile {
    display: flex;
    gap: 9px;
    font-family: Inter, sans-serif;
    align-items: center;
  }
  
  .profileImage {
    width: 38px;
    border-radius: 200px;
    aspect-ratio: 0.97;
    object-fit: contain;
  }
  
  .userInfo {
    display: flex;
    flex-direction: column;
  }
  
  .userName {
    font-size: 20px;
    font-weight: 500;
  }
  
  .userRole {
    font-size: 15px;
  }
  
  @media (max-width: 991px) {
    .header {
      padding-right: 20px;
    }
  }